# eclipse files #
#################
.classpath

.project
bin/*
*.class
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dll
*.jnilib
*.dylib
*.xml
*.png
*.prefs
# Package Files #
*.jar
*.war
*.ear
*.zip
